<!DOCTYPE html>
<html>
<head>
  <title>MouseTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar" %>
<%= flash[:notice] %> 
<%= flash[:error] %> 
<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= params %> 
</body>
</html>
